@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap");
.brand {
  h1 {
    font-weight: 900;
    font-size: 70px;
    text-align: center;
    font-family: "Inter", sans-serif;
    margin-bottom: 2rem;
  }
  h2 {
    font-size: xx-large;
    text-align: center;
    font-family: "Inter", sans-serif;
  }
}
