@import url("https://fonts.googleapis.com/css2?family=Abel&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,500;0,700;1,300&display=swap");

$font-family: "Be Vietnam Pro", sans-serif;
//size
$extra-small: 14px;
$small: 16px;
$medium: 24px;
$large: 32px;
$extra-large: 64px;
//font weight
$fw700: 700;
$fw500: 500;
