@use "_variables.scss" as *;
@use "mixin" as *;
@use "product" as *;
@use "animation" as *;
$product-width: 135px;
%group-products-empty {
  position: relative;
  background-color: $gray-100;
  border-radius: 10px;
  font-size: $large;

  font-weight: 700;
  line-height: 1.5;
  max-width: none;
  min-width: 10px;
  margin: 0 24px;

  background-image: linear-gradient(270deg, #cc6aa5, #3e91cc, #2dcca7);

  &::before {
    content: "Đang về hàng";
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: $medium;
    text-align: center;
    font-weight: 300;
    font-family: $font-family;
  }
  @include media(mobile) {
    margin: 0 11px;
    padding: 7px 15px 6px;
    height: 27px;

    &::before {
      font-size: 15px;
    }
  }
  @include media(tablet) {
    margin: 0 11px;
    padding: 7px 15px 6px;
    height: 27px;

    &::before {
      font-size: 15px;
    }
  }
}

.group-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($product-width, 1fr));
  grid-template-rows: repeat(4, auto);
  overflow: hidden;
  @include media(laptop) {
    grid-template-columns: repeat(auto-fit, minmax(22%, 1fr));
  }
  justify-content: start;
  align-items: center;
  justify-items: center;
  // justify-content: space-between;
  gap: 25px 20px;
  padding: 0 11px;
  // &:not(:has(.product)),
  &.group-products-empty {
    @extend %group-products-empty;
    @include media(mobile) {
      width: 30.3%;
      margin: 0 auto;
    }
    @include media(tablet) {
      width: 30.3%;
      margin: 0 auto;
    }
  }
  .view-more {
    background-color: $secondary;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    max-width: none;
    min-height: 27px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 7px 15px 6px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    display: none;
    width: 33%;
    padding: 1em 0;
    grid-column: 1/-1;
    font-size: 0.7em;
    &::before {
      content: "Xem Thêm";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    & > input[type="checkbox"] {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      outline: none;
      appearance: none;
      opacity: 0;
    }
  }

  // &:has(.view-more > input[type="checkbox"]:checked),
  &.show-more {
    .product:nth-child(n + 9) {
      display: inline-flex;
      -webkit-animation: scale-up-bl 0.5s ease-in-out forwards;
    }

    .view-more {
      &::before {
        content: "Thu Gọn";
      }
    }
  }
}

//
.tracking-in-expand-fwd {
  -webkit-animation: tracking-in-expand-fwd 0.8s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-5-6 1:31:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
//
.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-5-6 1:38:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
