@import "_variables.scss";

.container {
  position: relative;
  padding: 0px 20px;
  @media screen and (max-width: 768px) {
    padding: 0px 11px;
  }
  // height: 100%;
}

.flex {
  display: flex;
  &.md-v {
    //middel vertical
    align-items: center;
  }
  &.md-h {
    //mid horizontal
    justify-content: center;
  }
  .flex-1 {
    flex: 1;
  }
}

.text {
  font-family: $font-family;
  color: $white;
  text-decoration: none;
  &--center {
    text-align: center;
  }
}

strong {
  font-weight: bold;
}

.no-p {
  padding: 0;
}
