@import "_variables.scss";
header {
  background-color: white;
}
.container {
  position: relative;
  padding: 0px 20px;
  @media screen and (max-width: 768px) {
    padding: 0px 11px;
  }
  // height: 100%;
}

.flex {
  display: flex;
  &.md-v {
    //middel vertical
    align-items: center;
  }
  &.md-h {
    //mid horizontal
    justify-content: center;
  }
  .flex-1 {
    flex: 1;
  }
}

.text {
  font-family: $font-family;
  color: $white;
  text-decoration: none;
  &:active {
    color: inherit;
  }
  &:visited {
    color: inherit;
  }
  &--center {
    text-align: center;
  }
}

strong {
  font-weight: bold;
}

.no-p {
  padding: 0;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
