@use "_variables.scss" as *;
@use "mixin" as *;
@use "animation" as *;
$product-width: 135px;
.group-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($product-width, 1fr));
  @include media(laptop) {
    grid-template-columns: repeat(auto-fit, minmax(22%, 1fr));
  }
  justify-content: start;
  align-items: center;
  justify-items: center;
  // justify-content: space-between;
  gap: 20px 10px;
  padding: 0 11px;
  .product {
    display: inline-flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: column;
    max-width: 354px;
    min-width: $product-width;
    height: 100%;
    text-align: center;
    gap: 11px;
    //animate
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    &-image {
      position: relative;
      & > img {
        width: 100%;
        object-fit: contain;
      }
      &::after {
        content: "Xem thêm";
        font-family: $font-family;
        color: white;

        position: absolute;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 3em;
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);
        border: 3px solid white;
        border-radius: 5px;
        cursor: pointer;
      }
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
      }
      &::after,
      &::before {
        display: none;
      }
      &:hover {
        &::after,
        &::before {
          display: flex;
        }
      }
    }
    &-name {
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      max-height: 2.5em;
      width: 100%;

      font-family: $font-family;
      font-weight: 500;
    }
    &-price {
      text-align: center;
      color: #e00c19;
      font-weight: 600;
      font-family: $font-family;
    }
    .btn-addtocart {
      background-color: $primary;
      border-radius: 4px;
      border-style: none;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5;
      max-width: none;
      min-height: 27px;
      min-width: 10px;
      outline: none;
      overflow: hidden;
      padding: 7px 15px 6px;
      position: relative;
      text-align: center;
      text-transform: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: 100%;
    }
  }
}
