@use "variables" as *;
@use "flex" as *;
@use "_mixin.scss" as *;
$height: 600px;
$btn-size: 35px;
.slider {
  font-family: $font-family;
  width: 100%;
  height: $height;
  position: relative;
  z-index: $layer-1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  overflow-y: hidden;
  .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: $layer-2;
    color: $secondary !important;
    text-shadow: $box_shadow;
    outline: none;
    &:hover {
      cursor: pointer;
      color: $secondary-lv2 !important;
    }
    color: $black;
    font-size: large;
    &--next {
      right: -$btn-size;
      @extend .btn;
    }
    &--prev {
      left: -$btn-size;
      @extend .btn;
    }
  }
  &:hover {
    .btn {
      &--next {
        right: $btn-size;
        animation: btn-slide--next 0.25s ease;
      }
      &--prev {
        left: $btn-size;
        animation: btn-slide--back 0.25s ease;
      }
    }
  }
  &--item {
    height: 100%;
    padding: 0px calc($btn-size + 1em);
    .content {
      font-size: 2em;
    }
    .media {
      img {
        width: 100%;
        object-fit: contain;
      }
      video {
        width: 100%;
        object-fit: contain;
        border-radius: 20px;
      }
    }
  }
  @include media(mobile) {
    height: 30vh;
    .btn {
      display: none;
      &--next {
        @extend .btn;
      }
      &--prev {
        @extend .btn;
      }
    }
    &--item {
      height: 100%;
      padding: 5px 10px;
      flex-wrap: wrap-reverse;
      .content {
        font-size: 1em;
        flex-grow: 1;
      }
      .media {
        flex-grow: 1;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: 80%;
          object-fit: contain;
        }
        video {
          height: 80%;
          object-fit: contain;
          border-radius: 20px;
        }
      }
    }
  }
}

@keyframes btn-slide--next {
  0% {
    right: -$btn-size;
  }
  100% {
    right: $btn-size;
  }
}
@keyframes btn-slide--back {
  0% {
    left: -$btn-size;
  }
  100% {
    left: $btn-size;
  }
}
