//font

$font-family: "Be Vietnam Pro", sans-serif;
//size
$extra-small: 14px;
$small: 16px;
$medium: 24px;
$large: 32px;
$extra-large: 64px;

//weight
$fw700: 700;
$fw500: 500;
$primary: #0052a0;
$primary-lv1: #0065c6;
$primary-lv2: #0078ec;
$primary-lv3: #005fff;

$secondary: #00b113;
$secondary-lv1: #00d717;
$secondary-lv2: #00fd1b;
$white: #f1faf3;
//box shadow
$box_shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
